.form-holder {
  margin: 6% auto;
  width: 30%;
  min-width: 380px;
}

.form-title {
  font-size: 185%;
  margin: 0 auto 7% auto;
  font-weight: 600;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.seperator {
  text-align: center;
  border-bottom: 1px solid #222;
  /* line-height: 0.1em; */
  margin: 8% 0;
}

.input {
  min-height: 45px;
  padding: 0 4px;
}

.form select {
  width: 100%;
}

.btn {
  display: block;
  text-align: center;
  font-weight: 600;
  border: none;
  font-size: 95%;
  font-family: inherit;
  border-radius: 8px;
  /* box-shadow: var(--lightBoxShadow); */
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
}

.login-signup {
  margin-bottom: 15px;
  text-align: center;
  /* color: var(--lightGray); */
  font-weight: 400;
  font-size: 64%;
}

.login-forgot {
  margin-top: 15px;
  /* color: var(--lightGray); */
  font-size: 85%;
  cursor: pointer;
}

.login-signup a,
.login-forgot a {
  color: #222;
  text-decoration: none;
}

.login-signup a,
.login-forgot a {
  color: #222;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .form-holder {
    width: 90%;
    min-width: initial;
    margin: 8% auto;
  }
}
