footer {
    width: 100%;
    padding: 0.9rem 0;
    margin: 0 auto;
    border-top: 1px solid #ededed;
    font-weight: 300;
}

.category-title {
    display: flex;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.container-information {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.container-information a {
    color: inherit;
    width: fit-content;
}

.section {
    width: 22%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.link-element {
    margin: 1.3rem 0;
}

.down-menu {
    width: 90%;
    display: flex;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
}

.down-menu-info {
    display: flex;
    align-items: center;
}

.down-menu-info p {
    margin-right: 1.3rem;
    color: #222;
}

.down-menu-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.down-menu-icon a {
    font-size: 24px;
    margin-right: 1.3rem;
    color: #222;
    opacity: 0.8;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .container-information {
        flex-direction: column;
    }

    .section {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    .link-element {
        margin: 0.7rem 0;
    }

    .down-menu {
        flex-direction: column-reverse;
        align-items: baseline;
    }
}